{% extends 'base.html' %}

{% block title %}
Estoque Bootcamp - Criar Categoria
{% endblock %}

{% block content %} 

<div class="container mt-4"> 
    <h3 class="mb-4">Criar Categoria</h3>
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'categori-create' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Salvar Categoria</button>
            </form>
        </div>
    </div>
    <a href="{% url 'categori-list' %}" class="btn btn-secondary mt-3">Cancelar</a>
</div> 

{% endblock %}